<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Introduction</h2>
<div class="summary">
    <p>I am a final year B.Tech student in Mathematics and Computing at Delhi Technological University, Delhi. My area of interests are Data Science and Computer Vision. Specifically, I am working on Object Detection and Tracking in videos. Currently I am focussed on increasing my knowledge base by exploring various machine learning algorithms on various datasets.</p>
    <p>I have previously worked on quite a few projects in Computer Vision. Nonetheless I am keen to work on Data Science projects too.</p>
</div><!--//summary-->
</section><!--//section-->
