<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co-Founder, Lead Developer</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Vida Salvateur International Pvt. Ltd., Noida, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Created an app with added features like location detector and Bluetooth connectivity with Bluetooth module</p>
                        <p>Work in progress - Adding multimedia features in the product via app, providing voice controlled elements like navigation and playing music</p>
                      <p>Created a website <a href=http://www.motobuddy.in>www.motobuddy.in</a> on Sails using node.js and mongoDB as database</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">June - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Provakil Technologies, Saket, Delhi</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Created Admin Dashboard using Sails and node.js</p>
                      <p>Worked on the frontend designing of the website using Bootstrap</p>
                      <p>Performed text scraping and html scraping on daily cause lists from the official website of courts namely TDSAT and NCDRC</p>
                      <p>Fetched case orders and court judgements by scraping using Beautiful Soup and stored them in database and S3 bucket</p>
                      <p>Created unit tests for all the scripts written during the internship</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
