<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">Object Detection and Tracking</a></span> - <span class="project-tagline">Performed uniform detection with two classes – boys' uniform and girls' uniform using CNN. 
Also, performed ‘Human Upper Body Apparel Localization’ on surveillance videos. <a href=https://drive.google.com/open?id=0B2FiljRUy3wVaGVKLUFPTTBCTkE>Demo</a></span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Blink and Sleep Detection</a></span> - 
                    <span class="project-tagline">Categorized a given facial expression in one of seven expressions (happy, sad, angry, disgust, surprise, contempt, neutral) by using different algorithms like SVM, logistic regression, neural network and compared their accuracies on the given dataset. 
Achieved 90% accuracy using logistic regression.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Facial Expression Categorization</a></span> - <span class="project-tagline">Detected eye blink in real time by calculating eye aspect ratio. This was mainly an implementation of a research paper - Real-Time Eye Blink Detection using Facial Landmarks by Tereza Soukupova and Jan ´ Cech. 
Also, extended this implementation to sleep detection by checking the threshold EAR for greater number of frames.
</span>
                </div><!--//item-->
            </section><!--//section-->
